@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import "tailwindcss";


body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-family: "Outfit", sans-serif; 
  }

  .transition-all {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  font-family: 'Cinzel Decorative', serif;
}

.input {
  @apply w-full border rounded px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-amber-600;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 10px;
}